<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="HadasConection" connectionString="Data Source=DESKTOP-GBPSTUU\MSSQLSERVER01;
			 initial Catalog=SMS_NEW_2020; Trusted_Connection=Yes"/>
	</connectionStrings>
</configuration>